*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width:1140px;
    margin: 0 auto;
    padding: 20px;
}
.box{
    height: 500px;
    width:900px;
    border: 2px dashed blue;
    margin:0 auto ;
}